<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>TwitterMap</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="RuiLu">

        <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <link href="stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="stylesheets/app.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
        <style type="text/css"></style>
    </head>

    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/"><span style="color: #58ACFA;font-weight: bold">TwitterMap</span> 
                        <span style="color: #E6E6E6;font-weight: lighter"> See What is happening</span>
                    </a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            Search Keyword: <span id="keycriteria" class="label label-important">game</span>
                            With Geo: <span id="totaltweetWithGeo" class="badge badge-info">0</span>
                            Without: <span id="totaltweetWithoutGeo" class="badge badge-important">0</span>
                            Total: <span id="totaltweet" class="badge badge-success">0</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row-fluid">
                
                <div class="span4">
                    <span style="color: #47A3FF; font-size: 15pt; font-weight: bold">Key Word</span>
                    <div class="row-fluid">
                        <div class="span3">
                            <select class="form-control" name="sel-keywords" id="sel-keywords">
                                <option>game</option>
                                <option>sport</option>
                                <option>food</option>
                                <option>music</option>
                                <option>the</option>
                            </select>
                        </div>
                        <div class="span1"></div>
                    </div>
                </div>
           
                <div class="span8">
                    <span style="color: #47A3FF; font-size: 15pt; font-weight: bold">Map Types</span>
                    
                </div>
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span3">
                        <button type="button" class="btn btn-primary btn-modes" id="btn-scatter">Scatter</button>       
                        
                        <button type="button" class="btn btn-success btn-modes" id="btn-heatmap"></span>HeatMap</button>
                    
                        
                    </div>
                    <div class="span4"></div>
                </div>
            </dir>
            <!-- <div class="row-fluid">
                <div class='span3'>
                    <select class="form-control" name="sel-keywords" id="sel-keywords">
                        <option>game</option>
                        <option>concert</option>
                        <option>columbia</option>
                        <option>sport</option>
                        <option>food</option>
                        <option>music</option>
                        <option>obama</option>
                        <option>newyork</option>
                        <option>justinbieber</option>
                        <option>the</option>
                    </select>
                </div>
                <div class="span1"></div>
                <div class="span1">
                    <button type="button" class="btn btn-primary btn-modes" id="btn-scatter">Scatter</button>       
                </div>
                <div class="span1">
                    <button type="button" class="btn btn-success btn-modes" id="btn-heatmap"></span>HeatMap</button>
                </div>
                <div class="span1">
                    <button type="button" class="btn btn-info btn-modes" id="btn-light"> Light </button>
                </div>
                <div class="span5"></div>
            </div> -->
            <!-- Store Geo Table and Map, 4:8 -->
            <!-- first table -->
            <div class="row-fluid">
                <div class="span4">
                    <div class="accordion-group">
                        <div class="breadcrumb" id="breadcrumb_a">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <i class="icon-minus icon-white"></i>
                                Tweets with Geo information
                            </a>
                            <div class="tooltip-box" style="float: right">
                                <a href="#" rel="tooltip" data-placement="top" data-original-title="The list of tweets with geo information">
                                    <i class="icon-info-sign icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="accordion-body collapse" id="collapse2">
                            <div class="accordion-inner">
                                <div class="widgetblock" id="tweetswithgeotag">
                                    <table class="table table-striped" id="geotweetstable">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- then map -->
                <div class="span8">
                    <div class="accordion" id="accordion">
                        <div class="breadcrumb" id="breadcrumb_b">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="icon-minus icon-white"></i> Tweets Map
                            </a>
                            <button id="clearMapButton" type="button" class="btn btn-success btn-mini btn-primary" style="float: right">Clear all</button>
                        </div>
                        <div id="collapse1" class="accordion-body collpase">
                            <div class="accordion-inner">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row-fluid">
                <div class="span4">
                    <div class="accordion-group">
                        <div class="breadcrumb" id="breadcrumb_a">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <i class="icon-minus icon-white"></i>
                                Tweets without Geo information
                            </a>
                            <div class="tooltip-box" style="float: right">
                                <a href="#" rel="tooltip" data-placement="top" data-original-title="The list of tweets without geo information">
                                    <i class="icon-info-sign icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="accordion-body collapse" id="collapse2">
                            <div class="accordion-inner">
                                <div class="widgetblock" id="tweetswithgeotag">
                                    <table class="table table-striped" id="nogeotweetstable">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <hr>
            <footer>
                <p>&copy; Rui Lu © CloudComputing@Fall2015</p>
            </footer>
        </div>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://www.google.com/jsapi"></script>
        <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/data.json" type="text/javascript"></script>
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=visualization"></script>
        <script src="/javascripts/socket.js"></script>
        <script type="text/javascript">
            $(".collapse").collapse();
            $('#accordion').collapse({hide: true})
            $(".accordion-toggle").click(function() {
                var imgElement =$(this).find('i:first');
                if(imgElement.attr('class')==="icon-minus icon-white"){
                    imgElement.attr('class','icon-plus icon-white');
                } else {
                    imgElement.attr('class','icon-minus icon-white');
                }
            });
            $('#tweetsTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            $('#tweetsTab a:first').tab('show');

            $('.tooltip-box').tooltip({
                selector: "a[rel=tooltip]"
            })
        </script>

    </body>
</html>